html,
body {
    height: 100%;
    background-color: #EFF3F6;
}

.main {
    background-color: white;
    margin-top: 30px;

    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
    box-shadow:0 0 10px #000;
}

.navbar-brand {
    font-weight: 800;
}

.navbar-brand img {
    margin: 0 3px 0 0;
    height: 40px;
}

.navbar {
    background-color: #4A4D5A !important;
    color: white;
}

.navbar a {
    color: white;
}

.navbar-text {
    color: white !important;
    opacity: 1;
    text-transform: uppercase;
    margin-top: 0 !important;
}

.navbar-text .icon {
    font-size: 23px;
    margin-right: 10px;
}

#footer {
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-connect {
    display: flex !important;
    align-items: center;
}